# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserdatad/
*.xccheckout
*.xcuserdata
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
*.swo
*.tmp
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Logs
*.log

# Local artifacts
build_output.txt

# User-specific
.env
