<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>OpenFlux</string>
	<key>CFBundleName</key>
	<string>OpenFlux</string>
	<key>CFBundleDisplayName</key>
	<string>OpenFlux</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows Executable</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-executable</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows Installer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msi</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.msi-installer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows DLL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dll</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows-dynamic-link-library</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.windows-executable</string>
			<key>UTTypeDescription</key>
			<string>Windows Executable</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>exe</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.msi-installer</string>
			<key>UTTypeDescription</key>
			<string>Windows Installer Package</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>msi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.windows-dynamic-link-library</string>
			<key>UTTypeDescription</key>
			<string>Windows Dynamic Link Library</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dll</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSBonjourServiceTypes</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>Games may require camera access.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>OpenFlux needs local network access to manage game processes.</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Games may require microphone access for voice chat.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresIPhoneOS</key>
	<false/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
